<div class='row m-3'>
  <div class="col-3 offset-6">
    <button id='import-movie' class='btn btn-success float-right'>Import movies</button>
  </div>
  <div class="col-3">
    <button id='import-review' class='btn btn-info float-right'>Import reviews</button>
  </div>
    </div>

  <div id='import-movies-form' class='d-none col-10 offset-1'>
    <%= render 'import', type: 'movies' %>
  </div>
  <div id='import-reviews-form' class='d-none col-10 offset-1'>
    <%= render 'import', type: 'reviews' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Director</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <%= render @movies %>
  </tbody>
</table>
